<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/weather.png">
    <title>Weather</title>
</head>
<body>
    <div class="maine-con">
        {{>header}}

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, eveniet?</p>

        <form>
            <input type="text" placeholder="Location">
            <button>Search</button>
        </form>

        <p id="one"></p>
        <P id="two"></p>

    </div>

    
    {{>footer}}

    <script src="/js/app.js"></script>
</body>
</html>